body {
    margin-top: 50px;
    background-color: #0f0f0f;
}

.content {
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
}


.row {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.row img {
    height: 300px;
    flex-basis: 25%;
}

.row p {
    display: flex;
    font-size: 30px;
    justify-content: center;
    color: white;
}